<footer class="footer">
	{{page.footer_logo }}
	<div class="footerLinks">
		{{page.footer_menu }}
	</div>
	<div class="copyright">
		{{page.copyright }}
	</div>
</footer>
{{page.footer }}

<div class="popup popupVideo" id="popupVideo" data-modal="popupVideo" data-xsource="true" data-dismiss="true">
	<div class="popHeader">
		<a href="javascript:;" class="close" data-hide="popupVideo">
			<i class="i i-clear"></i>
		</a>
	</div>
	<div class="popContent" data-reset="true"></div>
</div>

<div class="popup popupPageViewer popupLeaveSite" id="popupLeaveSite" data-modal="popupLeaveSite">
	<div class="popContent">
		<div class="page">
			<div class="stick">
				<button type="button" class="close" alt="close button" data-hide="popupLeaveSite">
					<i class="i i-close_circle"></i>
				</button>
			</div>
			<div class="heading">
				You are now leaving AskAboutGA.com and will be taken to a prescription treatment website.
			</div>
			<div class="content">
				Click “OK” to continue or “CANCEL” to return to AskAboutGA.com
			</div>
			<div class="action">
				<a class="btn btn-outline-primary rounded text-uppercase btnCancel" href="javascript:;" data-hide="popupLeaveSite">
					<span>Cancel</span>
				</a>
				<a class="btn btn-outline-primary rounded text-uppercase btnContinue" href="javascript:;" target="_blank" data-hide="popupLeaveSite">
					<span>OK</span>
					<i class="i i-arrow_forward"></i>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="popup popupName" id="popupName" data-modal="popupName">
	<div class="popHeader">
		<span data-get-text="true">PopHeader</span>
		<a href="javascript:;" class="close" data-hide="popupName">×</a>
	</div>
	<div class="popContent">
		Popup
	</div>
	<div class="popFooter">PopFooter</div>
</div>

<div id="snackbar" class="snackbar nmToast">
	<div class="snackbar-text"></div>
	<button class="snackbar-action" type="button"></button>
</div>

<div class="dialog" id="dialog" data-control="dialog">
	<div class="dialog-message"></div>
	<div class="dialog-footer t-r"></div>
</div>
