<div class="card challengeCard">
	<div class="cardheader">
		<img src="{{ file_url(content.field_svg_image['#items'].entity.uri.value) }}" alt="{{ content.field_svg_image['#items'].alt }}">
	</div>
	<div class="cardcontent">
		{{content.field_title.0}}
	</div>
</div>
