<section class="cardGroup">
	<div class="row">
		{{content.field_paragraph}}
	</div>
</section>

{{content.field_paragraph_3}}

<section class="supportOrg">
	<div class="supportHeader">
		{{content.field_title.0}}
	</div>
	<div class="cardOrg row justify-content-center">
		{{content.field_paragraph_2}}
	</div>
</section>
