<a class="navbar-brand" href="{{ path('<front>') }}" aria-current="page" target="_blank" rel="noopener noreferrer">
    <img class="img-sm" src="{{ file_url(content.field_site_logo['#items'].entity.uri.value) }}" alt="{{ content.field_site_logo['#items'].alt }}">
</a>