<button class="nav-btn btn btn-outline-primary rounded navTrigger" type="button" data-view="{{content.field_model_data_view.0 }}">
    <span>{{content.field_title.0}}</span>
	<i class="i {{ content.field_icons.0 }}"></i>
</button>