<a class="footerLogo" href="{{ path('<front>') }}" target="_blank" rel="noopener noreferrer">
    <img src="{{ file_url(content.field_site_logo['#items'].entity.uri.value) }}" alt="{{ content.field_site_logo['#items'].alt }}">
</a>